@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playpen+Sans:wght@100..800&display=swap');

.title {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h2, h3 {
  font-family: "Merriweather", Georgia, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#right-menu {
  max-height: 80vh;
  overflow-y: scroll;
}

body {
    background-color: black;
}

.image-container {
  position: relative;
  display: inline-block;
}

#glowCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;
}

#typing_area {
  font-size: 1.5em;
}

#keyboard {
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  animation: rotate-anime 5s linear infinite;
}
@keyframes rotate-anime {
  0%  {transform: rotate(0);}
  100%  {transform: rotate(360deg);}
}

#keyboard:hover {
  transform: scale(1.05);
}

.col-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

@keyframes fall {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }
  50% {
      opacity: 0.7;
  }
  100% {
      transform: translateY(80vh);
      opacity: 0;
  }
}

.falling {
  position: absolute;
  left: 50%;
  height: 80px;
  transform: translateX(-50%);
  filter: drop-shadow(0 0 10px white);
  animation: fall 6s linear infinite;
}

.gold {
  filter : invert(100%) sepia(100%) drop-shadow(0 0 40px yellow) !important;
}

.golden {
  filter : invert(100%) sepia(100%) drop-shadow(0 0 40px yellow) !important;
}

.items {
  cursor: pointer;
}

.items:hover {
  transform: scale(1.05);
}

.item-img {
  height: 50px;
}

.locked {
  filter: brightness(10%);
}

@keyframes missType {
  0% {
      background-color: beige;
  }
}

.missed {
  animation: missType 1s forwards;
}

@keyframes fade {
  0% {
      opacity: 0;
      transform: scale(0.5);
  }
  50% {
      opacity: 1;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(1.5);
  }
}

.fade-animation {
  animation: fade 1s ease-in-out;
  opacity: 0;
}
